*
!apply_patch_mac.sh
!apply_patch_win.bat
!config.json
!.gitignore
!README.md
!draft/
!draft/blocks.txt
!shops/
!shops/shops.json
!rewards/
!rewards/enemies.json
!decks/
!decks/boss/
!decks/boss/**
!decks/miniboss/
!decks/miniboss/**
!decks/standard/
!decks/standard/**
!decks/starter/
!decks/starter/**